<div class="well">
  <h4 id="first"> <%= @entry.title %> </h4>
</div>

<div class="main-text">
  <% @entry.paragraphs.each do |paragraph|%>
    <p> <%=paragraph.body.html_safe %> </p>
  <% end %>
</div>