.header {
  text-align: center;
  font-size: 2em;
  position: relative;
  width: 100%;
  left:0;
  top: 0;
  background-color: #7CAFE8;
}

a:link {
  font-size: 1.5em;
  color: #0D0C24;
}

a:hover {
  color: #22698F;
}

a:visited {
  color: #22698F;
}



.link_list {
  position: relative;
}

article {
  position: relative;
  left: 1em;
  width: 95%;
}

h1 {
  text-align: center;
  font-size: 1.5em;
  background-color: #7CAFE8;

}

p {
  font-size: 1em;
}

nav {
  position: left 0em;
}

nav li ul{
  display: none;
}

nav li:hover > ul {
    display: block;
  }
.nav_list {
  display: inline-block;
  text-align: center;
  padding-left: .5em;
}