.header {
  text-align: center;
  font-size: 2em;
  position: relative;
  width: 100%;
  background-color: #7CAFE8;
}

a:link {
  font-size: 1.5em;
  color: #0D0C24;
}

a:hover {
  color: #22698F;
}

a:visited {
  color: #22698F;
}

#links li {
  display: inline-block;
  margin-left: 1.5em;
}

.link_list {
  position: relative;
  text-align: center;
}

figure {
  display: inline-block;
}

.container img {
  width: 12em;
  height: 20em;
  border: 1px solid black;
  position: relative;
  display: inline-block;
}

article {
  position: relative;
  width: 60%;
  display: inline-block;
}

h1 {
  text-align: center;
  font-size: 1.5em;
  background-color: #7CAFE8;
}

nav {
  position: left 0em;
}

nav li ul {
  display: none;
}

nav li:hover > ul {
    display: block;
  }

.nav_list {
  padding-left: .5em;
}