<div class="well">
  <h4 class="h4"> <%= @entry.title %> </h4>
</div>

<div class="col-md-">
  <% @entry.paragraphs.each do |paragraph|%>
    <p class="entry_paragraph"> <%=paragraph.body.html_safe %> </p>
  <% end %>
</div>