<div>
  <p> If you would like to see more about me or contact me, follow the links!
  </p>
  <table class="container">
    <tr><td><a href="https://www.facebook.com/chris.guard.75">Facebook</a></td></tr>

    <tr><td><a href="https://github.com/cguard90">GitHub</a></td></tr>

    <tr><td><a href="https://www.linkedin.com/profile/view?id=AAMAABPuv9kBIzdheR_0GVm7RlnXOp35gfqBEU8&trk=hp-identity-name">LinkedIn</a></td></tr>

    <tr><td><a href="https://plus.google.com/u/0/111223069331897681381/posts/p/pub">Google</a></td></tr>

    <tr><td><a href="DevConnect">Dev Connect</a></td></tr>
  </table>
</div>