<div class="main-text">
  <p>
  Just a little bit about Myself, I've lived in Florida since I graduated from Wells College with a degree in philosophy. I have originally moved here to work as Mortgage Loan Officer. After about a year and a half of that, I moved to business Banking with Bank of America. A few months after I started at the bank, I started rock climbing as a hobby, so while at DBC in New York there is a climbing gym in Brooklyn I'd like to check out once if I have time. I started learning code in September of 2014. After learning some fundamentals, I started to get a bit more serious about learning code in January 2015. I decided to make it a career change, and have now completed the Dev Bootcamp training program. I am now remaking my blog on rails.
</p>

<p>
  The motivation for this project originated when viewing the blog again after completing DBC. It is currently not in a state that I think employers would find very appealing. I plan on updating it to an acceptable level, but probably will prioritize other more complex projects instead, once this is complete. Additionally I was motivated to start on this while stuck in an airport waiting for a flight that has been delayed about two hours. I figured that was a nice window to get cracking on a revising an old project.
</p>

<p>
  If you would like to see more of my code, I welcome you to see my <a href="https://github.com/cguard90">GitHub</a> I currently have only kept the projects that I think have the most potential, or are polished enough for presentation to show my potential. I also welcome you to view me on <a href="https://www.linkedin.com/profile/view?id=AAMAABPuv9kBIzdheR_0GVm7RlnXOp35gfqBEU8&trk=hp-identity-name">LinkedIn</a>. I am currently seeking opportunities, and I am interested in a variety of locations throughout the US. Geography for me is not much of an obstacle, and I think it would be interesting to live somewhere new with my 2 dogs.
</p>
</div>