
<div class="well">
  <h4 class="h4">My Resume</h4>
</div>

<div class="main-text">
  <p>Please see below for a copy of my Resume:</p>
  <a href="../../../files/Chris_Guard_Resume.pdf">Here is a link to the PDF copy</a>
</div>