
<div class="well">
  <h4 class="h4">My Resume</h4>
</div>

<div class="main-text">
  <p>Please see below for a copy of my Resume:</p>
  <p><a href="https://drive.google.com/file/d/0B1sWMehsFK7xMHFmV3JPZnhpb00/preview">On Google Docs</a>
  </p>

  <p>For your convenience, I have included a preview</p>
  <iframe src="https://drive.google.com/file/d/0B1sWMehsFK7xMHFmV3JPZnhpb00/preview"></iframe>
</div>